<!-- Start Header -->
<header>
  <nav class="navbar fixed-top navbar-light bg-light navbar-expand-lg">
    <%= link_to "Pet Hotel", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="menu" class="navbar-collapse collapse">
      <!-- Start Main Menu -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log in</a>
        </li>
      </ul>
      <!-- End Main Menu -->
    </div>
  </nav>
</header>
<!-- End Header -->
